@model ShoeLandia.ViewModels.Item.SingleItemViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<li>@Model.Size</li>
<li>@Model.Price</li>
<li>@Model.Description</li>
<li>@Model.Colors</li>
<li>@Model.CategoryName</li>